body 
{
background-color:#CCCCCC;
font-size:50px;
font-family: "Bebas Neue";
} 

#image1
{
position:absolute;
bottom: 0px;
left: 0px;
}

#image2
{
position:absolute;
bottom: 0px;
right: 0px;
-webkit-transform:rotateY(180deg); /* Chrome, Safari, Opera */
transform:rotateY(180deg); /* Standard syntax */
}

#menu ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 }

#menu li {
 float:left;
 margin:auto;
 padding:0;
 color:white;
 width: 25%;
 background-color: black;
 }

#menu li a {
 display:block;
 width:100%;
 color:white;
 text-decoration:none;
 text-align:center; 
 background-color: black;
 padding:0px;
 }

#menu li a:hover {
 color:#FFD700;
 }

 #menu ul li ul {
 display:none;
 }

 #menu ul li:hover ul {
 display:block;
 text-align:center; 
 }

#menu li:hover ul li {
 float:none;
 }
