body 
{
background-color:#CCCCCC;
font-size:50px;
font-family: "Bebas Neue";
} 

#texte1
{
position:fixed;
left:5%;
} 

#texte2
{
position:fixed;
left:25%;
} 

#texte3
{
position:fixed;
right:35%;
} 

#texte4
{
position:fixed;
right:5%;
} 

#image2
{
position:absolute;
bottom: 0px;
right: 0px;
-webkit-transform:rotateY(180deg); /* Chrome, Safari, Opera */
transform:rotateY(180deg); /* Standard syntax */
}